# .gitignore
# Ignore All
*
!*/

# Allowlist
!.gitignore
!brew/*
!zsh/.zshenv
!zsh/.zshrc
!bttpreset/*
!git/*
!karabiner/karabiner.json
!vscode/*
!mise/*
!gh/config.yml
!claude/settings.json
!claude/script/**
!claude/.gitignore
!claude/CLAUDE.md
!claude/agents/**
!claude/commands/**
!claude/contexts/**
