# .gitignore
# Ignore All
*
!*/

# Allowlist
!.gitignore
!brew/*
!zsh/.zshenv
!zsh/.zshrc
!zsh/rc.d/**
!zsh/README.md
!bttpreset/*
!git/*
!karabiner/karabiner.json
!vscode/*
!mise/*
!gh/config.yml
!claude/settings.json
!claude/script/**
!claude/.gitignore
!claude/CLAUDE.md
!claude/README.md
!claude/agents/**
!claude/rules/**
!claude/skills/**
!claude/contexts/**
